.settings .user-component {
  border-bottom: 1px solid black;
  margin: var(--horizontal-space);
  padding: 10px 0px;
  color: rgba(0, 0, 0, 0.7);
}

.settings .user-component__text {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 600;
}
