.screen-header {
  display: flex;
  margin: 0px var(--horizontal-space);
  justify-content: space-between;
  padding: 30px 0px;
}

.screen-header h2 {
  font-size: 25px;
  font-weight: 600;
}

.screen-header div i {
  font-size: 25px;
  margin-right: 20px;
  text-decoration: none;
}

@keyframes gearRotation {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header .fa-gear:hover {
  animation: gearRotation 2s linear infinite;
}
